body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.cart-container {
  margin: 20px;
  border: 3px solid black;
  border-radius: 9px;
  border-radius: 10px;
  justify-items: center;
  overflow: hidden;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}
th {
  background-color: #ADD8E6;
  border-bottom: 2px solid #ddd;
}
td {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
}
td img {
  width: 50px;
  height: 50px;
}
.quantity-controls {
  display: flex;
  align-items: center;
}
.quantity-controls button {
  background-color: lightgreen;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 3px solid black;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease;
}

input[type="number"] {
  border: none;
  -moz-appearance: textfield;
  text-align: center;
  width: 50%;
}

.quantity-controls button i {
    pointer-events: none;
}

.quantity-controls button:hover {
  background-color: rgb(85, 236, 85);
}

.remove-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.remove-btn img {
  width: 50px;
  height: 20px;
}