.main-table {
    margin: 20px 70px 20px 70px;
    justify-content: center;
    align-items: center;
}

#header-add {
    margin: 15px 0 5px 0;
    font-weight: bold;
    font-size: 20px;
}

.add-product {
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 400px;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    background-color: #d3d3d3;
}

.add-product form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#enter-product {
    padding: 10px 0 10px 0;
    width: 300px;
    height: auto;
    margin-bottom: 15px;
}

input#enter-product {
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
}

#enter-image {
    justify-content: center;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    width: 300px;
    height: auto;
    background-color: #fafafa;
    border: 1px solid black;
}

#add {
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: lightgreen;
    border: 3px solid black;
    border-radius: 6px;
    box-shadow: none;
    transition: background-color 0.2s ease;
    width: 100%;
}

#add:hover {
    background-color: rgb(85, 236, 85);
}

.search-edit {
    margin: 10px 0 15px 0;
    display: flex;
    justify-content: space-between;
}

.search-edit input, .edit-product {
    padding: 12px;
    border: 1px solid #656464;
    border-radius: 10px;
    font-size: 15px;
    outline: none;
}

input#edit {
    cursor: pointer;
    font-weight: bold;
}

input#search, .edit-product {
    width: 250px;
    border: 3px solid black;
}

/* table tr td{
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
} */

main.table {
    width: 82vw;
    height: 90vw;

}

.table-body {
    overflow: auto;
    border-radius: 10px;
    border: 3px solid black;
}

table {
    width: 100%;
}

td img {
    max-width: 300px;
    max-height: 200px;
    border-radius: 5px;
    margin-right: 1rem;
    vertical-align: middle;
}

table, tr, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

.info-produk {
    text-align: left;
}

.info-produk img {
    object-fit: cover;
}

#check {
    transform: scale(1.25);
}

tr.head {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    font-weight: bolder;
    text-align: center;
}

#save {
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
    border: 3px solid black;
}

#save:hover{
    background-color: #bebebe;
}

.edit input {
    padding: 8px 18px 8px 18px;
    margin: 5px;
    border-radius: 20px;
    color: #585858;
    cursor: pointer;
}

input#edit-product {
    padding: 5px;
}

#hapus {
    background-color: crimson;
    color: white;
}

#hapus:hover {
    color: crimson;
    background-color: white;
    border: 1px solid crimson;
}

.add-product > form > input {
    outline: none;
}

#uploadgambarproduk {
    display: inline-block;
    padding: 12px;
    background-color: red;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    align-self: self-start;
    margin-bottom: 20px;
    font-weight: 600;
    transition: background-color 0.2s ease;
    border: 3px solid black;
}

#uploadgambarproduk:hover {
    background-color: rgb(200, 0, 0);
}

#uploadgambarproduk i {
    margin-right: 10px;
}

#uploadlabeltext {
    align-self: self-start;
    margin-bottom: 8px;
}