.tampilan-produk {
    width: 100%;
    justify-content: center;
}

/* .tampilan-produk img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
    margin-right: 1rem;
    vertical-align: middle;
    display: flex;
} */


.table-display {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-top: 50px;
}


img#gambar-produk {
    width: auto !important;
    height: auto !important;
    border-radius: 10px;
    /* padding: 10px;     */
}


table {
    font-family: Arial;
}

.isi-produk {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.nama-produk {
    margin: 5px;   
    font-weight: bold;
}

.harga-produk {
    margin: 5px;
    color: rgb(37, 36, 36);
    font-weight: bold;
    font-size: 18px;
}

.detail-produk {
    margin: 10px 5px 5px 5px;
    font-size: 17px;
}

.add-to-cart {
    padding: 5px;
    max-width: 800px; 
    margin-top: 90px;
    margin-left: 400px;
}

button#buy-button {
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    cursor: pointer;
    border-radius: 5px;
}

button#buy-button:hover {
    color: white;
    background-color: #333;
}

#savechanges {
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: lightgreen;
    border: 3px solid black;
    border-radius: 6px;
    box-shadow: none;
    transition: background-color 0.2s ease;
    margin-top: 13px;
}

#savechanges:hover {
    background-color: rgb(85, 236, 85);
}

#hapusproduk {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(249, 54, 54);
    border: 3px solid black;
    border-radius: 6px;
    box-shadow: none;
    transition: background-color 0.2s ease;
}

#hapusproduk i, #savechanges i {
    margin-right: 10px;
}

#hapusproduk:hover {
    background-color: rgb(240, 21, 21);
}

.edit {
    margin: 0;
    text-align: center;
}

.editproduktextinput {
    padding: 8px;
    outline: none;
    border: 3px solid black;
    border-radius: 8px;
}